In [1]:
#import dependencies
import pandas as pd

In [2]:
#Read in performance data from CSV
performance_df = pd.read_csv("data/small_area_income_and_poverty_estimates.csv", header=0)
performance_df.head()

,Year,ID,Name,Poverty Universe,Number in Poverty,90% Confidence Interval,Percent in Poverty,90% Confidence Interval.1
0,2016,0,United States,315165470,44268996,"44,022,086 to 44,515,906",14.0,13.9 to 14.1
1,2016,6000,California,38513333,5527621,"5,475,835 to 5,579,407",14.4,14.3 to 14.5
2,2016,6001,Alameda County,1619071,173386,"162,673 to 184,099",10.7,10.0 to 11.4
3,2016,6003,Alpine County,1068,199,156 to 242,18.6,14.5 to 22.7
4,2016,6005,Amador County,34175,3846,"3,021 to 4,671",11.3,8.9 to 13.7

In [3]:
#Remove unnecessary columns
clean_df=performance_df.drop(columns=["ID","Poverty Universe", "90% Confidence Interval","90% Confidence Interval.1"])
clean_df.head()

   Year            Name  Number in Poverty  Percent in Poverty
0  2016   United States           44268996                14.0
1  2016      California            5527621                14.4
2  2016  Alameda County             173386                10.7
3  2016   Alpine County                199                18.6
4  2016   Amador County               3846                11.3

In [7]:
#Remove unnecessary rows
#clean2_df = clean_df.drop(clean_df[clean_df['Name'] == 'United States'].index, inplace=True)
#clean2_df
new_data = clean_df[~clean_df['Name']=='United States',]

TypeError: bad operand type for unary ~: 'str'

In [9]:
#Remove "county" from name column
#clean3_df=clean2_df["Name"].str.replace("\s(.*)", "")
#clean3_df.head(50)

/Users/natashanutley/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0         United
1     California
2        Alameda
3         Alpine
4         Amador
5          Butte
6      Calaveras
7         Colusa
8         Contra
9            Del
10            El
11        Fresno
12         Glenn
13      Humboldt
14      Imperial
15          Inyo
16          Kern
17         Kings
18          Lake
19        Lassen
20           Los
21        Madera
22         Marin
23      Mariposa
24     Mendocino
25        Merced
26         Modoc
27          Mono
28      Monterey
29          Napa
30        Nevada
31        Orange
32        Placer
33        Plumas
34     Riverside
35    Sacramento
36           San
37           San
38           San
39           San
40           San
41           San
42           San
43         Santa
44         Santa
45         Santa
46        Shasta
47        Sierra
48      Siskiyou
49        Solano
Name: Name, dtype: object